

body {
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'MinecraftiaRegular';
}

.before-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 560px;
    width: 1200px;
    z-index: 100;
    background-image: url(./photos/minecraft-wallpaper.jpg);
    text-align: center;
    font-weight: bold;
    text-shadow: 0 2px 20px white,  0 0 10px grey;
}

.before-screen h2 {
    margin: 0;
}

.before-screen h3 {
    text-decoration: underline;
    margin: 8px 0;
}

.before-screen .instructions {
    width: 600px;
    text-align: center;
    background: white;
    border: 3px solid black;
    line-height: 1.6rem;
    
}

.before-screen button {
    width: 150px;
    height: 30px;
    border: 2px solid black;
    margin-top: 8px;
}

.before-screen button:hover {
    border: 2px solid white;
    color: white;
    background: black;
    transition-duration: 0.3s;
}

/* game screen*/

.screen-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 100%;
    margin-top: 10px;
}


.map-container {
    display: grid;
    grid-template-columns: repeat(20,50px);
    grid-template-rows: repeat(11, 50px);
    height: 100vh;
}

.tool-bar {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;  
   align-items: center; 
   box-sizing: border-box;
   width: 150px;
   height: 550px;
   margin-left: 10px;
   background: black;
   color: white;
}

.tool-bar h5 {
    margin:0;
}

.tool-bar .tool img{
    width: 80px;
    height: 110px;
    box-sizing: border-box;
    border: 5px solid grey;

}

.red-border {
    border: 5px solid red;
}

.blue-border {
    border: 5px solid blue;
}

.tool {
    box-sizing: border-box;
    height: 112px;
    border: 1px solid transparent;
}

.tool:hover {
    border: 1px solid white;
}

.inventory .curr-tile {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 5px solid gray;
}

.inventory {
    border: 1px solid transparent;
}

.inventory:hover {
    border: 1px solid white;
}

.tool-bar button {
    font-size: 12px;
    border: 1px solid white;
    padding: 12px;
}

.tool-bar button:hover {
    opacity: 0.7;
}

.tile {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}

.tile:hover {
    border:1px solid white;
}

.removedTile {
    background: white;
}


.sky {
    /* background: rgb(0, 153, 255); */
    background: url(./photos/sky.png) center center/cover;
}

 .dirt {
    /* background: rgb(109, 50, 50); */
    background: url(./photos/dirt-bottom.png) center center/cover;

}

.rocks {
    /* background: grey; */
    background: url(./photos/rocks.png) center center/cover;

}

.wood {
    /* background: rgb(58, 4, 4); */
    background: url(./photos/wood.png) center center/cover;

}

.leaves {
    /* background: green; */
    background: url(./photos/leaves.png) center center/cover;

}